<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CriticR: Invalid Login</title>
    <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/GyQ3t9i.png">
    <script
       src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
       crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script>
      function goBack() {
      window.history.back();
      }
    </script>
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR.</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <%if(!user) { %>
          <!-- add your link to the log in page here -->
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
          <!-- add your link to create a user here -->
          <li>
            <a href="/users/new">Register to Review</a>
          </li>
          <% } else { %>
          <li>
            <a href="/users/user/<%=user._id%>">View My Reviews</a>
          </li>
          <%if (user.super == true) { %>
            <li>
                <a href="/media/new">+ MOVIE/GAME</a>
            </li>
            <li>
                <a href="/users/super">+ NEW MODERATOR</a>
            </li>
          <% } %>
          <!-- log out -->
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Off" />
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <main class="HolyGrail-content">

        <div id="invDiv">
          <h1 id="invalid">Invalid Login</h1>
          <h2 id="inv2">Sorry don't have that one... Go back and try again.</h2>
          <button id="backButton" onclick="goBack()">Go Back</button>
        </div>

      </main>

      <aside class="HolyGrail-ads">…</aside>

    </div>
    <footer>…</footer>
  </body>

</html>
