
.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  min-width: 1000px;
}
.HolyGrail-body {
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
}
ul {
  list-style-type: none;
}
#lineAside {
  width:86.5%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.HolyGrail-content {
  width:90%;
  display: flex;
  flex-direction: column;
}
#frontNav {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
#frontNav a {
  display: inline-block;
  width: 100%;
  padding: 8px;
  margin: 0;
  background-color: gray;
}
#frontNav a:hover {
  background-color: lightgray;
}
/* index page and review list */
.lineUps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
}
.viewWind {
  width: 85%;
  margin: 20px 0px 20px 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding:15px;
  min-height: 150px;
  background: lightgray;
}
.HolyGrail-ads {
  margin: 20px 0px 20px 0px;
  width:24%;
  background: lightgray;
}
/* review page cascade */
#revCascade {
  width:86.5%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
/* image carousel */
.galContain {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  border: 3px solid lightgray;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  min-width: 650px;
}
.carousel-images {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.carousel-images a {
  display: none;
}
.carousel-images img {
  max-height: 350px;
  min-height: 350px;
  min-width: none;
  margin: 0 auto;
  display: none;
}
.carousel-images a:first-of-type {
  display: block;
}
.carousel-images img:first-of-type {
  display: block;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name:fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.carousel-button {
  align-self: center;
  margin: 0px 15px;
  background: rgb(240, 240, 240);;
  color: gray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px lightgray;
}
.carousel-button:hover {
  cursor: pointer;
  background: black;
  box-shadow: 1px 1px lightgray;
  color: red;
}
#specLine {
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.rArticle {
  text-align: left;
  margin: 0 auto;
  width: 85%;
}
.rWind {
  width: 85%;
  margin: 20px 0px 20px 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding:15px;
  min-height: 150px;
  background: lightgray;
}
/* hide movies/games on filter */
.on {
  display: flex;
}
.off {
  display: none;
}
