@import url('https://fonts.googleapis.com/css?family=Biryani|Passion+One|Paytone+One|Reenie+Beanie|Secular+One|Stylish|Yanone+Kaffeesatz|Exo+2|Special+Elite|Oswald|Oxygen|Open+Sans|Hind+Siliguri');

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  min-width: 1000px;
  color: black;
  font-family: arial;
  background: black;
}
/* header */
.header {
  position: fixed;
  top: 0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  min-height: 60px;
  background: black;
  color: red;
}
.header-title {
  display: flex;
  align-items: center;
  margin-left: 4%;
}
.header-title h5 {
  font-family: 'Passion One', cursive;
  font-size: 30px;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.header li {
  display: inline-block;
  margin-right: 15px;
}
.header a {
  font-size: 1.1em;
}
.header a:visited {
  color: red;
}
#logOffBtn {
  background-color: black;
  border: 1px solid black;
  font-family: 'Oswald', cursive;
  font-size: 1.1em;
  color: lightgray;
}
a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: inherit;
}
.HolyGrail-body {
  display: flex;
  flex: 1;
  /* margin-top: 15px; */
  justify-content: center;
  text-align: center;
}
ul {
  list-style-type: none;
}
#mainLogo {
  color: red;
  font-family: 'Passion One', cursive;
  margin-top:75px;
  margin-bottom: 20px;
  font-size: 5em;
  /* font-weight: normal; */
}
#mainSub {
  margin-top: 0px;
  font-family: 'Special Elite', cursive;
  color: lightgray;
}
#lineAside {
  width:90%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: rgb(40, 40, 40); */
  height:100%;
}
.HolyGrail-content {
  width:90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
#frontNav {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#frontNav a {
  width: 100%;
  padding: 18px 0px 18px 0px;
  border-right:2px solid black;
  margin: 0;
  background-color: lightgray;
  background: linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);
  background: -moz-linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);;
  background: -webkit-linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);
  font-family: 'Passion One', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
}
#frontNav a:hover {
  color: white;
  background-color: lightgray;
  background: linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);
  background: -moz-linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);;
  background: -webkit-linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);
}
/* index page and review list */
.lineUps {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 20px;
  width: 78%;
}
.viewWind {
  width: 97%;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: gray;
  background-color: lightgray;
  background: linear-gradient(top, rgb(210, 210, 210) 0%,rgb(100, 100, 100) 100%);
  background: -moz-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(100, 100, 100) 100%);;
  background: -webkit-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(100, 100, 100) 100%);
  max-height: 230px;
  min-height: 230px;
}
#lefterDiv {
  display: flex;
  flex-direction: row;
  width:70%;
}
.vIm {
  height: 220px;
  width:140px;
  padding: 0 4% 0 4%;
}
.vIm img {
  margin-top: 3.5%;
  height: 93%;
  border: 0px solid #000000;
-moz-box-shadow:
  3px 4px 8px rgba(000,000,000,0.7);
-webkit-box-shadow:
  3px 4px 8px rgba(000,000,000,0.7);
box-shadow:
  3px 4px 8px rgba(000,000,000,0.7);
  border-radius: 3px;
}
}
.dImHolder {
  margin-top: 30px;
}
.dIm {
  text-align: left;
  margin-left:8%;
}
.dim a {
  display: block;
  margin-left: 20px;
}
.sOutBox {
  margin-right: 3%;
  height:220px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scoreBox {
  height: 210px;
}
#hScore {
  font-family: 'Oswald', cursive;
  margin: 5px 0px 10px 0px;
  padding:36px 0px 36px 0px;
  background: rgb(40, 40, 40);
  background-image: url(https://i.imgur.com/T9xy0mx.jpg);
  border-radius: 5px;
  color: gray;
}
#hScore:hover {
  text-decoration: underline;
}
.HolyGrail-ads {
  margin: 20px 0px 20px 0px;
  width:30%;
  /* background: lightgray; */
  display: flex;
  flex-direction: column;
}
#rMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#rMenu a {
  width:100%;
  display: block;
  padding: 18px 0px 18px 0px;
  margin-bottom:20px;
  border-radius: 3px;
  background-color: gray;
  background: linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);
  background: -moz-linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);;
  background: -webkit-linear-gradient(top, rgb(200, 200, 200) 0%,rgb(100, 100, 100) 100%);
  font-family: 'Passion One', cursive;
}
#rMenu a:hover {
  color: white;
  background-color: lightgray;
  background: linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);
  background: -moz-linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);;
  background: -webkit-linear-gradient(top, rgb(165, 165, 165) 0%,rgb(55, 55, 55) 100%);
}
#ad img {
  width: 100%;
}
/* movie/game page */
#bumper {
  margin-top: 75px;
}
.mediaWind {
  width: 88%;
  margin: 20px auto;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding:15px;
  min-height: 150px;
  /* background: lightgray; */
}
.rollout {
  width:78%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.revSum {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detSum {
  width: 80%;
  text-align: left;
}
.scoSum {
  border-left: 1px solid lightgray;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* review page cascade */
#revCascade {
  width:86.5%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
#reviewHead {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#reviewHeadPoster {

}
.chartHolder {
  width: 450px;
  display: flex;
  flex-direction: row;
}
.chdets {
  line-height: 20px;
  text-align: left;
}
.chart {
  width: 225px;
  min-width:225px;
  border-right: 2px solid steelblue;
}
.chartDiv {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  max-height: 12px;
  min-height: 12px;
}
#reviewHeadDetails {
  display: flex;
  text-align: left;
  align-items: center;
}
/* image carousel */
.galContain {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  border: 3px solid lightgray;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  min-width: 650px;
}
.carousel-images {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.carousel-images a {
  display: none;
}
.carousel-images img {
  max-height: 350px;
  min-height: 350px;
  min-width: none;
  margin: 0 auto;
  display: none;
}
.carousel-images a:first-of-type {
  display: block;
}
.carousel-images img:first-of-type {
  display: block;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name:fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.carousel-button {
  align-self: center;
  margin: 0px 15px;
  background: rgb(240, 240, 240);;
  color: gray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px lightgray;
}
.carousel-button:hover {
  cursor: pointer;
  background: black;
  box-shadow: 1px 1px lightgray;
  color: red;
}
#specLine {
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.rArticle {
  text-align: left;
  margin: 0 auto;
  width: 85%;
}
.rWind {
  width: 85%;
  margin: 20px 0px 20px 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding:15px;
  min-height: 150px;
  background: lightgray;
}
/* user pages */
#uSpecLine {
  margin: 10px auto;
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.uDetSum {
  width: 60%;
  text-align: left;
}
.uScoSum {
  border-left: 1px solid lightgray;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uVIm {
  width:20%;
}
.uVIm img {
  width:100%;
}
/* hide movies/games on filter */
.on {
  display: flex;
}
.off {
  display: none;
}
