<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
       src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
       crossorigin="anonymous">
    </script>
 <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body class="HolyGrail">
    <div class="header">
      <!-- title //not used on main index page\\-->
      <div class="header-title">
        <a href="/"><h5>CriticR</h5></a>
      </div>
      <!-- navigation -->
      <div class="header-nav">
        <ul>
          <li>
            <a href="/sessions/new">Log In</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="HolyGrail-body">

      <main class="HolyGrail-content">

        <h1>New Critic Entry</h1>
        <form action="/users" method="POST">
          <input type="text" name="username" placeholder="Enter Username"/>
          <input type="password" name="password" placeholder="Password" />
          <input type="text" name="img" placeholder="Profile image link" />
          <input type="submit" value="Register" />
        </form>

      </main>

      <aside class="HolyGrail-ads">…</aside>

    </div>
    <footer>…</footer>
  </body>
</html>
